@font-face {
    font-family: Inter-Black;
    src: url(/fonts/Inter/Inter-Black.ttf);
}
@font-face {
    font-family: Inter-bold;
    src: url(/fonts/Inter/Inter-Bold.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    position: absolute;
    top: 0px;
    font-family: Inter-Black;
    color: #071D29;
    font-size: 35px;
    text-align: center;
    margin-top: 15px;
}

.play-button {
    font-family: Inter-Black;
    font-weight: 900;
    font-size: 50px;
    color: #071D29;
    text-decoration: none;
    border: 12px solid #071D29;
    padding: 14px 25px;
    border-radius: 25px;
    box-shadow: 5px 5px 0px #C90000;
    transition: 250ms;
}
.play-button:hover {
    margin-right: 3px;
    margin-bottom: 3px;
    box-shadow: 8px 8px 0px #C90000;
}

.left-image {
    position: absolute;
    left: -10%;
    top: 60%;
    width: 300px;
}

.right-image {
    position: absolute;
    left: 84%;
    top: 5%;
    width: 300px;
}