@font-face {
    font-family: Inter-Black;
    src: url(/fonts/Inter/Inter-Black.ttf);
}
@font-face {
    font-family: Inter-bold;
    src: url(/fonts/Inter/Inter-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
}

html {
    /* Turn off main scroll bobbing - note: can still have sub elements that scroll */
    overflow: hidden;
    height: 100%;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

#canvas-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 247, 247);
    /* border: 1px solid #cccccc; */
    border-radius: 4px;
    /* cursor: pointer; */
    position: relative;
}

/* TOP BAR */
.bar-container {
    position: absolute;
    top: 10px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 15px;

    padding: 10px 15px 10px 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
#pause-play-btn {
    width: 15.5px;
    height: 16px;
    margin-right: 10px;
    position: relative; /* Used for play icon */
}
.pause-icon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.left-bar, .right-bar {
    height: 100%;
    width: 6px;
    border-radius: 100px;
    background-color: #C1C6CA;
}
#pause-play-btn:hover .left-bar, #pause-play-btn:hover .right-bar {
    background-color: #071D29;
}
.play-icon {
    width: 17px;
    height: 17px;
    position: absolute;
    top: -1px;
    left: -1px;
}
.play-icon > path {
    fill: #C1C6CA;
}
#pause-play-btn:hover .play-icon > path {
    fill: #071D29;
}

#speed-up-btn {
    width: 24px;
    height: 17px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.speed-up-path {
    fill: #C1C6CA;
}
#speed-up-btn:hover .speed-up-path {
    fill: #071D29;
}

#energy-bar-container {
    width: 100%;
    height: 8px;
    border-radius: 500px;
    background-color: #BFE0CD;
    overflow: hidden;
    position: relative;
}

#energy-bar {
    /* width: 65%; */
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 500px;
    /* border: 2px solid white; */
    position: absolute;
    background-color: #018535;
}

/* CELL COUNTER */
.cell-counter-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    z-index: 999;

    padding: 10px 15px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);

    display: flex;
    align-items: center;
    justify-content: center;
}
.cell-counter-icon {
    width: 15px;
    height: 15px;
    border: 4px solid #071D29e5;
    border-radius: 8px;
}
#cell-counter { 
    width: fit-content;
    margin-top: 1px;
    margin-right: 5px;

    font-family: Inter-Bold;
    font-size: 18px;
    color: #071d29e5;
}