* {
    margin: 0;
    padding: 0;
}

html {
    /* Turn off main scroll bobbing - note: can still have sub elements that scroll */
    overflow: hidden;
    height: 100%;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

#canvas-container {
    width: 60vw;
    height: 80vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 247, 247);
    border: 1px solid #cccccc;
    border-radius: 4px;
    cursor: pointer;
}